.booking {
  box-sizing: border-box;
  width: 100%;
  padding: 38px 20px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 55px 20px 50px;
  }
}

.booking__wrapper {
  @media (min-width: @tablet-width) {
    width: 520px;
  }
}

.booking__title {
  margin: 0 0 18px;
  font-weight: 700;
  font-size: 21px;

  @media (min-width: @tablet-width) {
    margin: 0 0 38px;
  }
}

.booking__description {
  margin: 0 auto;
  font-weight: 400;
}

.booking__search-hotel {
  margin: 27px 0 49px;
  padding: 14px;

  @media (min-width: @tablet-width) {
    margin: 40px 0 49px;
  }
}
