.catalog-welcome {
  background-color: @black;
  background-image: url(../../img/catalog-background.jpg);
  background-repeat: no-repeat;
}

.catalog-welcome__wrapper {
  text-align: center;
}

.catalog-welcome__image {
  display: block;
  margin: 0 auto;
}
