.catalog-welcome {
  color: @white;
  background-color: @blue;
  background-image: url("../img/svg/intro-triangle.svg"), url("../img/index-background.jpg");
  background-size: 200% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
  object-fit: cover;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    height: 300px;
    background-size: 100% auto, cover;
    object-fit: fill;
  }
}

.catalog-welcome__wrapper {
  text-align: center;
}

.catalog-welcome__image {
  display: block;
  margin: 0 auto;
}
