.catalog__intro {
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 66px 155px 67px;
    width: 458px;

    @media (min-width: @desktop-width) {
      padding: 100px 370px 65px;
    }
  }
}

.catalog__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  .text-size (21px, 26px);

  @media (min-width: @tablet-width) {
    margin-bottom: 35px;
    width: 458px;
  }
}

.catalog__description {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  .text-size (18px, 26px);
}

.catalog__cards {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.catalog__item {
  padding-top: 24px;

  @media (min-width: @tablet-width) {
    width: 324px;
    padding: 0;

    @media (min-width: @desktop-width) {
      position: relative;
      width: 400px;
      padding: 0;
    }
  }
}

.catalog__item:nth-child(even) {
  @media (min-width: @tablet-width) {
    padding-left: 60px;

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }
}

.catalog__item:nth-child(odd) {
  @media (min-width: @tablet-width) {
    padding-right: 60px;

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }
}

.catalog__item:first-child {
  @media (min-width: @tablet-width) {
    min-width: 648px;
    padding: 0 60px 0;


    @media (min-width: @desktop-width) {
      min-width: 1200px;
      padding: 0;

      .catalog__info {
        min-width: 1160px;
      }
    }
  }
}

.catalog__link {
  display: block;
}

.catalog__photo {
  display: block;
  width: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    object-fit: cover;
  }
}

.catalog__info {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 20px 0;

    @media (min-width: @desktop-width) {
      position: absolute;
      bottom: 0;
      top: 187px;
      width: 360px;
    }
  }
}

.catalog__text {
  padding-bottom: 16px;
  padding-left: 20px;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.catalog__name {
  margin: 0;
  margin-top: 15px;
  font-style: normal;
  font-weight: 700;
}

.catalog__author {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
}

.catalog__like {
  font-style: normal;
  font-weight: 700;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.catalog__video {
  width: 100%;
}

.catalog__video-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 445px;
    padding: 58px 162px 66px;

    @media (min-width: @desktop-width) {
      padding: 62px 377px 64px;
    }
  }
}

.catalog__video-title {
  margin: 0;
  padding-bottom: 36px;
  font-style: normal;
  font-weight: 700;
  .text-size(18px, 26px);
}

.catalog__video-description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
}
