.copyright {
  width: 130px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.copyright__text {
  font-weight: 400;
}

.copyright-logo {
  margin-left: 12px;
}
