.feedback {
  margin-top: 24px;
  margin-bottom: 56px;
}

.feedback__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  .text-size(18px, 26px);
  font-weight: 700;
}

.feedback__textarea {
  padding: 16px;
  width: 100%;
  min-height: 150px;
  font-family: inherit;
  border: none;
  resize: none;
  .text-size(18px, 26px);
  font-weight: 700;
}
