.fieldset__title {
  margin: 0 auto 28px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-top: 0;
  }
}

.fieldset__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.fieldset__item:not(:last-child) {
  margin-bottom: 16px;
}

.fieldset__item:first-child {
  margin-bottom: 16px;
}

.fieldset__label {
  font-weight: 400;
  margin-left: 16px;
}

.fieldset--impression {
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    width: 968px;
  }
}

.fieldset__title--radio {
  margin-bottom: 20px;
  padding: 0;
}

.fieldset__list--impression {
  padding-top: 8px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    padding: 0 36px 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 61px;
    padding: 0 53px 0;
  }
}

.fieldset__list--showplace {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 38px 80px 0 84px;
    column-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
    padding: 23px 21px 0 13px;
    text-align: center;
  }
}

.fieldset__item--radio {
  @media (min-width: @tablet-width) {
    width: 247px;
  }
}

.fieldset__item--radio:not(:last-child) {
  margin-bottom: 36px;
}

.fieldset__item--checkbox {
  @media (min-width: @desktop-width) {
    min-width: 217px;
  }
}

.fieldset__item--checkbox:not(:last-child) {
  margin-bottom: 36px;

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.fieldset__title--checkbox {
  font-size: 18px;
  padding-top: 24px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
  }
}
