.footer {
  width: 280px;
  margin: 0 auto;
  padding: 24px 20px 40px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0;
    padding: 37px 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 120px;
    background-color: #ffffff;
  }
}

.footer__hashtag {
  margin: 0 0 28px;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer__hashtag p {
  margin: 0;
}
