.form-intro__wrapper {
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 436px;
    padding: 64px 166px 108px;
  }

  @media (min-width: @desktop-width) {
    padding: 115px 382px 68px;
  }
}

.form-intro__title {
  margin-top: 0 0 23px;
  font-weight: 700;
  font-size: 18px;
}

.form-intro__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
