.form-intro__wrapper {
  text-align: center;
}

.form-intro__title {
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  .text-size(18px, 26px);
}

.form-intro__description {
  font-style: normal;
  font-weight: 400;
  margin-bottom: 28px;
}
