.form-review {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.form-review__group {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  border: none;
}

.form-review__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.form-review__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-review__textarea {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.feedback__textarea {
  background-color: @grey;
}

.form-review__post {
  text-align: right;
}
