.form-review {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 64px;

    @media (min-width: @desktop-width) {
      padding-left: 120px;
      padding-right: 120px;
      padding-bottom: 0;
    }
  }
}

.form-review__group {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  border: none;

  @media (min-width: @tablet-width) {
    width: 280px;
  }
}

.form-review__group:not(:first-child) {
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-bottom: 34px;
  }
}

.form-review__group:nth-child(4) {
  @media (min-width: @tablet-width) {
    padding-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 55px;
  }
}

.form-review__group:first-child {
  @media (min-width: @tablet-width) {
    padding-right: 43px;
    margin-right: 44px;
    margin-bottom: 48px;
    padding-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 63px;
    margin-right: 64px;
    padding-bottom: 0;
    margin-bottom: 69px;
  }
}

.form-review__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.form-review__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-review__input {
  width: 280px;
  padding: 16px 16px 16px 16px;
  background-color: @grey;
  border: none;
  font-weight: 700;
  font-family: inherit;
  .text-size(18px, 26px);

  @media (min-width: @tablet-width) {
    padding-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    width: 430px;

    &::placeholder {
      font-style: normal;
      font-weight: 700;
      .text-size(18px, 26px);
      color: @black;
    }
  }
}

.form-review__textarea {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.feedback__textarea {
  background-color: @grey;
}

.form-review__post {
  text-align: right;
}
