.main-nav {
  display: flex;
  margin: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
  }
}

.main-nav__wrapper {
  width: 100%;
}

.main-nav__toggle {
  margin-left: auto;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
}
