.main-header {
  display: flex;
  position: relative;
  background-color: @white;
  color: @black;
  height: 56px;
}

.main-header__logo {
  position: absolute;
  min-width: 185px;
  min-height: 96px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: @tablet-width) {
  min-width: 768px;
}
