.main-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 389px;
  color: @black;
  background-color: #3287d1;
  background-image: url("../img/svg/intro-triangle.svg"), url("../img/index-background.jpg");
  background-size: 200% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 518px;
    background-size: 100% auto, cover;
    object-fit: fill;

    @media (min-width: @desktop-width) {
      height: 518px;
      background-size: 100% auto, cover;
      object-fit: fill;
    }
  }
}

.main-welcome__wrapper {
  margin: 0 auto;
}

.main-welcome__image {
  display: block;
  margin: 0 auto;
  min-width: 282px;
  min-height: 214px;

  @media (min-width: @tablet-width) {
    min-width: 461px;
    min-height: 350px;

    @media (min-width: @desktop-width) {
      min-width: 460px;
    }
  }
}
