.main-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}

.main-nav__toggle {
  margin-left: auto;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    padding: 1px;
  }
}

