.page-body {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100%;
  margin: 0 auto;
  font-family: @fonts;
  .text-size (14px, 21px);
  text-transform: uppercase;
  color: @black;
}
