// .services {}

//.services__wrapper {}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  .text-size(18px, 26px);
}

.services__description {
  font-style: normal;
  font-weight: 400;
}
