.social {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 29px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 6px;
}

.social__item {
  position: relative;
  background-color: #81b3d2;

  &:hover {
    outline: none;
    background-color: #669ec0;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    background-color: #5496bd;
    outline: none;
  }
}

.social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  cursor: pointer;

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

.social__link {
  fill: #ffffff;
}

.social__link:active {
  fill: fade(#ffffff, 30%);
}

.social__icon:active .social__link {
  fill: fade(#ffffff, 30%);
}
