@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  display: flex;
  position: relative;
  background-color: #ffffff;
  color: #000000;
  height: 56px;
}
.main-header__logo {
  position: absolute;
  min-width: 185px;
  min-height: 96px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  min-width: 768px;
}
.main-container {
  flex-grow: 1;
}
.main-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 389px;
  color: #000000;
  background-color: #3287d1;
  background-image: url("../img/svg/intro-triangle.svg"), url("../img/index-background.jpg");
  background-size: 200% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
  object-fit: cover;
}
@media (min-width: 768px) {
  .main-welcome {
    height: 518px;
    background-size: 100% auto, cover;
    object-fit: fill;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .main-welcome {
    height: 518px;
    background-size: 100% auto, cover;
    object-fit: fill;
  }
}
.main-welcome__wrapper {
  margin: 0 auto;
}
.main-welcome__image {
  display: block;
  margin: 0 auto;
  min-width: 282px;
  min-height: 214px;
}
@media (min-width: 768px) {
  .main-welcome__image {
    min-width: 461px;
    min-height: 350px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .main-welcome__image {
    min-width: 460px;
  }
}
.main-nav {
  display: flex;
  margin: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .main-nav {
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    min-width: 1200px;
  }
}
.main-nav__wrapper {
  width: 100%;
}
.main-nav__toggle {
  margin-left: auto;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
}
.page-body {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .page-body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-body {
    width: 1200px;
  }
}
.advantages {
  margin-top: 32px;
}
.advantages__wrapper {
  padding: 32px 18px 53px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding: 48px 124px 59px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .advantages__wrapper {
    padding: 59px 359px 44px 357px;
  }
}
.advantages__title {
  max-width: 284px;
  margin: 0 auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 47px;
}
@media (min-width: 768px) {
  .advantages__title {
    bottom: 39px;
  }
}
@media (max-width: 767px) {
  .advantages__title br {
    display: none;
  }
}
.advantages__intro {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  text-align: center;
}
@media (min-width: 768px) {
  .advantages__item {
    display: flex;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .advantages__item {
    list-style: none;
  }
}
.advantages__item--background {
  text-align: center;
}
@media (min-width: 768px) {
  .advantages__item--background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .advantages__item--background {
    list-style: none;
  }
}
.advantages__division {
  padding: 33px 18px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #EEEEEE;
}
@media (min-width: 768px) {
  .advantages__division {
    width: 190px;
    padding: 52px 33px 31px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .advantages__division {
    width: 300px;
    padding: 52px 50px 51px;
  }
}
.advantages__division--background {
  background-color: #81B3D2;
  color: #ffffff;
}
.advantages__description {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.advantages__image {
  width: 320px;
  height: 260px;
}
@media (min-width: 768px) {
  .advantages__image {
    width: 512px;
    height: 256px;
    grid-column: 2 / 3;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .advantages__image {
    width: 800px;
  }
}
.advantages__picture {
  width: 320px;
  height: 260px;
  object-fit: fill;
}
@media (min-width: 768px) {
  .advantages__picture {
    width: 512px;
    height: 256px;
    grid-column: 2 / 3;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .advantages__picture {
    width: 800px;
  }
}
.services {
  grid-column: 1 / 3;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.services__item {
  margin: 0;
  padding: 23px 18px 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .services__item {
    padding: 128px 33px 0;
    width: 190px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .services__item {
    padding: 139px 50px 0;
    width: 300px;
  }
}
.services__title {
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .services__title {
    margin-bottom: 34px;
  }
}
.services__description {
  margin: 0 auto;
  padding: 28px 18px 30px 65px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  .services__description {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    text-align: center;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .services__description {
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
  }
}
.booking {
  text-align: center;
}
@media (min-width: 768px) {
  .booking {
    list-style: none;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .booking {
    list-style: none;
  }
}
.booking__wrapper {
  padding: 38px 29px 32px;
}
.booking__title {
  margin: 0;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .booking__title {
    padding-bottom: 38px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .booking__title {
    list-style: none;
  }
}
.booking__description {
  font-style: normal;
  font-weight: 400;
}
.booking__search-hotel {
  padding-bottom: 89px;
}
@media (min-width: 768px) {
  .booking__search-hotel {
    padding-bottom: 95px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .booking__search-hotel {
    padding-bottom: 108px;
  }
}
.map {
  height: 350px;
  margin-bottom: 8px;
}
.map__sedona {
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer__hashtag {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.footer__hashtag p {
  margin: 0;
  padding: 33px 92px 30px;
}
@media (min-width: 768px) {
  .footer__hashtag p {
    padding: 47px 113px 47px 60px;
  }
}
.social__list {
  list-style: none;
}
.copyright {
  text-align: center;
}
.copyright__text {
  font-style: normal;
  font-weight: 400;
}
.site-list {
  list-style: none;
}
@media (min-width: 768px) {
  .site-list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .site-list {
    list-style: none;
  }
}
.site-list__item {
  padding-top: 17px;
  text-align: center;
}
.catalog-welcome {
  color: #ffffff;
  background-color: #81B3D2;
  background-image: url("../img/svg/intro-triangle.svg"), url("../img/index-background.jpg");
  background-size: 200% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
  object-fit: cover;
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .catalog-welcome {
    height: 300px;
    background-size: 100% auto, cover;
    object-fit: fill;
  }
}
.catalog-welcome__wrapper {
  text-align: center;
}
.catalog-welcome__image {
  display: block;
  margin: 0 auto;
}
.catalog__intro {
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__intro {
    padding: 66px 155px 67px;
    width: 458px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .catalog__intro {
    padding: 100px 370px 65px;
  }
}
.catalog__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .catalog__title {
    margin-bottom: 35px;
    width: 458px;
  }
}
.catalog__description {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.catalog__cards {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.catalog__item {
  padding-top: 24px;
}
@media (min-width: 768px) {
  .catalog__item {
    width: 324px;
    padding: 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .catalog__item {
    position: relative;
    width: 400px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .catalog__item:nth-child(even) {
    padding-left: 60px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .catalog__item:nth-child(even) {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .catalog__item:nth-child(odd) {
    padding-right: 60px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .catalog__item:nth-child(odd) {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .catalog__item:first-child {
    min-width: 648px;
    padding: 0 60px 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .catalog__item:first-child {
    min-width: 1200px;
    padding: 0;
  }
  .catalog__item:first-child .catalog__info {
    min-width: 1160px;
  }
}
.catalog__link {
  display: block;
}
.catalog__photo {
  display: block;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .catalog__photo {
    object-fit: cover;
  }
}
.catalog__info {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__info {
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 20px 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .catalog__info {
    position: absolute;
    bottom: 0;
    top: 187px;
    width: 360px;
  }
}
.catalog__text {
  padding-bottom: 16px;
  padding-left: 20px;
}
@media (min-width: 1200px) {
  .catalog__text {
    color: #ffffff;
  }
}
.catalog__name {
  margin: 0;
  margin-top: 15px;
  font-style: normal;
  font-weight: 700;
}
.catalog__author {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
}
.catalog__like {
  font-style: normal;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .catalog__like {
    color: #ffffff;
  }
}
.catalog__video {
  width: 100%;
}
.catalog__video-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__video-intro {
    width: 445px;
    padding: 58px 162px 66px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .catalog__video-intro {
    padding: 62px 377px 64px;
  }
}
.catalog__video-title {
  margin: 0;
  padding-bottom: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.catalog__video-description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
}
.form-intro__wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .form-intro__wrapper {
    width: 436px;
    padding: 64px 166px 108px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .form-intro__wrapper {
    padding: 115px 382px 68px;
  }
}
.form-intro__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.form-intro__description {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
}
.form-review {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .form-review {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 64px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .form-review {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 0;
  }
}
.form-review__group {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  border: none;
}
@media (min-width: 768px) {
  .form-review__group {
    width: 280px;
  }
}
.form-review__group:not(:first-child) {
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .form-review__group:not(:first-child) {
    padding-bottom: 34px;
  }
}
@media (min-width: 768px) {
  .form-review__group:nth-child(4) {
    padding-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .form-review__group:nth-child(4) {
    padding-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .form-review__group:first-child {
    margin-right: 44px;
    margin-bottom: 48px;
    padding-bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .form-review__group:first-child {
    margin-right: 64px;
    padding-bottom: 0;
    margin-bottom: 63px;
  }
}
.form-review__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.form-review__item {
  display: flex;
  flex-direction: column;
}
.form-review__input {
  width: 248px;
  padding: 16px 16px 16px 16px;
  background-color: #EEEEEE;
  border: none;
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form-review__input {
    width: 263px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .form-review__input {
    width: 398px;
  }
  .form-review__input::placeholder {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
  }
}
.form-review__textarea {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.feedback__textarea {
  background-color: #EEEEEE;
}
.form-review__post {
  text-align: right;
}
.fieldset__title {
  margin: 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
@media (min-width: 768px) {
  .fieldset__title {
    font-size: 21px;
    line-height: 26px;
    padding-top: 0;
  }
}
.fieldset__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .fieldset__list {
    padding-top: 28px;
  }
}
.fieldset__item:not(:last-child) {
  margin-bottom: 16px;
}
.fieldset__item:first-child {
  margin-bottom: 16px;
}
.fieldset__label {
  font-style: normal;
  font-weight: 400;
  margin-left: 16px;
}
.fieldset--phone {
  padding-bottom: 37px;
}
.fieldset--impression {
  padding-bottom: 37px;
}
@media (min-width: 768px) {
  .fieldset--impression {
    width: 968px;
  }
}
.fieldset__title--radio {
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}
.fieldset__list--impression {
  padding-top: 8px;
}
@media (min-width: 768px) {
  .fieldset__list--impression {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .fieldset__list--impression {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 61px;
    padding-left: 53px;
    padding-right: 53px;
  }
}
@media (min-width: 768px) {
  .fieldset__list--showplace {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 38px;
    padding-left: 84px;
    padding-right: 80px;
    column-gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .fieldset__list--showplace {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
    padding-top: 23px;
    padding-left: 13px;
    padding-right: 21px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .fieldset__item--radio {
    width: 247px;
  }
}
.fieldset__item--radio:not(:last-child) {
  margin-bottom: 36px;
}
@media (min-width: 1200px) {
  .fieldset__item--checkbox {
    min-width: 217px;
  }
}
.fieldset__item--checkbox:not(:last-child) {
  margin-bottom: 36px;
}
@media (min-width: 1200px) {
  .fieldset__item--checkbox:not(:last-child) {
    margin-bottom: 40px;
  }
}
.fieldset__title--checkbox {
  font-size: 18px;
  line-height: 26px;
  padding-top: 24px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .fieldset__title--checkbox {
    margin-bottom: 28px;
  }
}
.radio__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}
.radio__text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
.checkbox {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}
.comment__attention {
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
}
.feedback {
  margin-top: 24px;
  margin-bottom: 56px;
}
.feedback__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.feedback__textarea {
  padding: 16px;
  width: 100%;
  min-height: 150px;
  font-family: inherit;
  border: none;
  resize: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.modal-container {
  text-align: center;
}
.modal-container__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.modal-container__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */
