@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  min-height: 56px;
}
.main-header__logo {
  position: absolute;
  width: 185px;
  height: 96px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.main-container {
  flex-grow: 1;
  background-color: #ffffff;
}
.main-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 389px;
  color: #000000;
  background-color: #3287d1;
  background-image: url("../img/svg/intro-triangle.svg"), url("../img/index-background-mobile.jpg");
  background-size: 200%, cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-welcome {
    background-image: url("../img/svg/intro-triangle.svg"), url("../img/index-background-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-welcome {
    height: 518px;
    background-image: url("../img/svg/intro-triangle.svg"), url("../img/index-background-tablet.jpg");
    background-size: 156% auto, cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .main-welcome {
    background-image: url("../img/svg/intro-triangle.svg"), url("../img/index-background-tablet@2x.jpg");
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .main-welcome {
    background-image: url("../img/svg/intro-triangle.svg"), url("../img/index-background-desktop.jpg");
    background-size: 100% auto, cover;
  }
}
@media (min-width: 768px) and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .main-welcome {
    background-image: url("../img/svg/intro-triangle.svg"), url("../img/index-background-desktop@2x.jpg");
  }
}
.main-welcome__wrapper {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-welcome__wrapper {
    padding-top: 77px;
    padding-bottom: 91px;
  }
}
@media (min-width: 1280px) {
  .main-welcome__wrapper {
    padding-top: 78px;
    padding-bottom: 90px;
  }
}
.main-welcome__image {
  display: block;
  margin: 0 auto;
  min-width: 282px;
  min-height: 214px;
}
@media (min-width: 768px) {
  .main-welcome__image {
    min-width: 461px;
    min-height: 350px;
  }
}
.main-nav {
  width: 100%;
  min-height: 56px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav {
    min-width: 768px;
    z-index: 0;
  }
}
@media (min-width: 1280px) {
  .main-nav {
    min-width: 1200px;
  }
}
.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 17px;
  z-index: 3;
  display: block;
  width: 23px;
  height: 22px;
  padding: 0;
  background-color: #ffffff;
  border: none;
}
.main-nav__toggle:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.main-nav__toggle:active {
  background-color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  background-color: #81b3d2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  box-shadow: 0 9px 0 #81b3d2, 0 18px 0 #81b3d2;
}
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 9px 0 rgba(129, 179, 210, 0.6), 0 18px 0 rgba(129, 179, 210, 0.6);
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 9px 0 rgba(129, 179, 210, 0.3), 0 18px 0 rgba(129, 179, 210, 0.3);
}
.main-nav--closed .main-nav__list {
  display: none;
}
@media (min-width: 768px) {
  .main-nav--closed .main-nav__list {
    min-height: 56px;
    display: grid;
    grid-template-columns: 183px 1fr 227px 1fr;
    align-items: center;
    background-color: transparent;
  }
}
@media (min-width: 1280px) {
  .main-nav--closed .main-nav__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.main-nav--closed {
  background-color: #ffffff;
  z-index: 0;
}
.main-nav--opened .main-nav__toggle {
  right: 20px;
  top: 17px;
  background-color: rgba(0, 0, 0, 0);
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  width: 27px;
  height: 4px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav--opened::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 3;
  height: 7px;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-width: 768px) {
  .main-nav--opened::after {
    display: none;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs {
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-nav--nojs {
    z-index: 0;
  }
}
@media (max-width: 767px) {
  .main-nav__list {
    display: grid;
  }
}
.main-nav--nojs .main-nav__list {
  display: grid;
  z-index: 0;
}
@media (max-width: 767px) {
  .main-nav--opened {
    z-index: 3;
  }
}
.page-body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000000;
  font-style: normal;
}
@media (min-width: 768px) {
}
@media (min-width: 1280px) {
  .page-body {
    width: 1200px;
    margin: 0 auto;
    background-color: #f2f2f2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1280px) {
  .advantages {
    margin-top: 55px;
  }
}
.advantages__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 32px 18px 16px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 520px;
    padding: 46px 124px 57px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .advantages__wrapper {
    padding: 0 0 48px 0;
  }
}
.advantages__title {
  max-width: 284px;
  margin: 0 auto 35px;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}
@media (min-width: 768px) {
  .advantages__title {
    max-width: 520px;
    margin: 0 0 28px;
    padding: 0;
    font-size: 21px;
    line-height: 27px;
  }
}
@media (min-width: 1280px) {
  .advantages__title {
    margin: 0 auto 28px;
  }
}
@media (max-width: 767px) {
  .advantages__title br {
    display: none;
  }
}
.advantages__title--subtitle {
  margin: 0 auto 10px;
}
@media (min-width: 768px) {
  .advantages__title--subtitle {
    margin: 0 auto 12px;
  }
}
@media (max-width: 767px) {
  .advantages__title--subtitle br {
    display: none;
  }
}
@media (min-width: 1280px) {
  .advantages__title--subtitle br {
    display: initial;
  }
}
.advantages__intro {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  text-align: center;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: list1;
}
@media (max-width: 767px) {
  .advantages__list {
    flex-direction: column;
  }
}
.advantages__item {
  text-align: center;
  width: 320px;
}
@media (min-width: 768px) {
  .advantages__item {
    width: 256px;
    min-height: 256px;
  }
}
@media (min-width: 1280px) {
  .advantages__item {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .advantages__item--background {
    width: 768px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .advantages__item--background {
    width: 1200px;
  }
}
.advantages__item--background-reverse {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .advantages__item--background-reverse {
    width: 768px;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .advantages__item--background-reverse {
    width: 1200px;
  }
}
@media (min-width: 768px) {
  .advantages__extended {
    display: flex;
    flex-direction: row;
  }
}
.advantages__division {
  width: 284px;
  margin: 0;
  padding: 37px 18px;
  position: relative;
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .advantages__division {
    width: 190px;
    padding: 52px 33px 31px;
  }
}
@media (min-width: 1280px) {
  .advantages__division {
    width: 300px;
    padding: 53px 50px 51px;
  }
}
.advantages__division--background {
  background-color: #81b3d2;
  color: #ffffff;
}
.advantages__division--triangle {
  padding: 69px 18px 40px;
}
@media (min-width: 768px) {
  .advantages__division--triangle {
    padding: 53px 33px 30px;
  }
}
@media (min-width: 1280px) {
  .advantages__division--triangle {
    width: 279px;
    padding: 50px 61px 0;
  }
}
.advantages__division--triangle::before {
  content: "";
  position: absolute;
  background-image: url("../img/svg/advantages-triangle.svg");
  width: 100%;
  height: 37px;
  top: -1px;
  left: 0;
  background-position: center;
}
@media (min-width: 768px) {
  .advantages__division--triangle::before {
    display: none;
  }
}
.advantages__division--base {
  position: relative;
  padding: 25px 18px;
}
@media (min-width: 768px) {
  .advantages__division--base {
    padding: 41px 33px 64px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .advantages__division--base {
    padding: 53px 50px 52px;
  }
}
.advantages__division--alternate {
  position: relative;
  padding: 25px 18px;
}
@media (min-width: 768px) {
  .advantages__division--alternate {
    padding: 41px 33px 43px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .advantages__division--alternate {
    padding: 52px 50px;
  }
}
.advantages__item:not(:last-child) .advantages__division--base::after {
  content: "";
  position: absolute;
  width: 284px;
  height: 1px;
  left: 18px;
  bottom: -1px;
  background-color: #d6d6d6;
}
@media (min-width: 768px) {
  .advantages__item:not(:last-child) .advantages__division--base::after {
    display: none;
  }
}
.advantages__item--base .advantages__description br {
  display: initial;
}
@media (min-width: 768px) {
  .advantages__item--base .advantages__description br {
    display: none;
  }
}
.advantages__item--base:nth-child(4) .advantages__description br {
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--base:nth-child(4) .advantages__description br {
    display: initial;
  }
}
@media (min-width: 1280px) {
  .advantages__item--base:nth-child(4) .advantages__description br {
    display: none;
  }
}
@media (min-width: 1280px) {
  .advantages__item--background-reverse .advantages__description {
    width: 215px;
    margin: 0 auto;
  }
}
.advantages__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-align: center;
}
.advantages__description br {
  display: none;
}
@media (min-width: 768px) {
  .advantages__description br {
    display: initial;
  }
}
@media (min-width: 1280px) {
  .advantages__description br {
    display: none;
  }
}
@media (max-width: 767px) {
  .advantages__description--base {
    padding: 0 15px 0;
  }
}
@media (min-width: 1280px) {
  .advantages__description--base {
    width: 275px;
    margin: 0 auto;
  }
}
.advantages__image {
  order: 1;
}
@media (min-width: 768px) {
  .advantages__image {
    min-width: 512px;
    order: 0;
  }
}
@media (min-width: 1280px) {
  .advantages__image {
    width: 800px;
  }
}
.advantages__picture {
  display: block;
}
@media (min-width: 768px) {
  .advantages__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.advantages__number {
  margin: 0 0 17px;
}
@media (min-width: 768px) {
  .advantages__number {
    margin-bottom: 22px;
  }
}
@media (min-width: 1280px) {
  .advantages__number {
    margin-top: 1px;
  }
}
.services__list {
  display: flex;
  flex-direction: column;
  width: 280px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .services__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }
}
.services__item {
  position: relative;
  padding-left: 45px;
  margin-bottom: 31px;
}
.services__item:first-of-type {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .services__item:first-of-type {
    margin-top: 0;
    padding: 156px 0 0 0;
  }
}
@media (min-width: 1280px) {
  .services__item:first-of-type {
    margin-top: 0;
    padding: 165px 0 0 0;
  }
}
.services__item:last-of-type {
  margin-bottom: 44px;
}
@media (min-width: 768px) {
  .services__item {
    margin-top: 0;
    margin-bottom: 65px;
    padding: 150px 0 0 0;
  }
}
.services__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -10px;
  left: -3px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .services__item::before {
    content: "";
    position: absolute;
    width: 77px;
    height: 77px;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .services__item {
    width: 256px;
    box-sizing: border-box;
    margin-bottom: 59px;
    padding: 153px 0 0 0;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .services__item {
    width: 400px;
    padding: 170px 0 0 0;
    margin-bottom: 71px;
  }
}
.services__item--house::before {
  background-image: url("../img/svg/icon-house.svg");
  background-size: 39px 37px;
}
@media (min-width: 768px) {
  .services__item--house::before {
    background-size: 75px 72px;
  }
}
@media (min-width: 1280px) {
  .services__item--house::before {
    padding: 10px;
  }
}
@media (min-width: 1280px) {
  .services__item--food {
    padding: 165px 0 0 0;
  }
}
.services__item--food::before {
  background-image: url("../img/svg/icon-food.svg");
  background-size: 40px 35px;
}
@media (min-width: 768px) {
  .services__item--food::before {
    background-size: 77px 68px;
  }
}
@media (min-width: 1280px) {
  .services__item--food::before {
    padding: 10px;
  }
}
.services__item--souvenirs::before {
  background-image: url("../img/svg/icon-gift.svg");
  background-size: 32px 38px;
}
@media (min-width: 768px) {
  .services__item--souvenirs::before {
    background-size: 64px 75px;
  }
}
@media (min-width: 1280px) {
  .services__item--souvenirs::before {
    padding: 10px;
  }
}
.services__title {
  margin: 0 0 17px;
  padding: 0;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 768px) {
  .services__title {
    margin: 0 auto 20px;
    font-size: 21px;
    text-align: center;
  }
}
.services__description {
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 400;
}
@media (min-width: 768px) {
  .services__description {
    width: 190px;
    margin: 0 auto;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .services__description {
    width: 300px;
    margin: 0 auto;
  }
}
.services__description br {
  display: none;
}
@media (min-width: 768px) {
  .services__description br {
    display: initial;
  }
}
.booking {
  box-sizing: border-box;
  width: 100%;
  padding: 38px 20px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .booking {
    padding: 50px 20px 50px;
  }
}
@media (min-width: 1280px) {
  .booking {
    padding: 50px 20px 63px;
  }
}
@media (min-width: 768px) {
  .booking__wrapper {
    width: 460px;
    margin: 0 auto;
  }
}
.booking__title {
  margin: 0 0 18px;
  font-weight: 700;
  font-size: 21px;
}
@media (min-width: 768px) {
  .booking__title {
    margin: 0 0 23px;
    font-size: 30px;
  }
}
.booking__description {
  margin: 0 auto;
  font-weight: 400;
}
.booking__description br {
  display: none;
}
@media (min-width: 768px) {
  .booking__description br {
    display: initial;
  }
}
.booking__search-hotel {
  margin: 27px 0 49px;
  padding: 18px;
}
@media (min-width: 768px) {
  .booking__search-hotel {
    margin: 43px 0 2px;
    padding: 16px;
  }
}
.map {
  height: 350px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .map {
    margin-bottom: 0;
  }
}
.map__sedona {
  width: 100%;
  border: none;
  display: block;
}
.footer {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer {
    width: 100%;
    margin: 0;
    padding: 37px 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 36px 120px;
    background-color: #ffffff;
  }
}
.footer__hashtag {
  margin: 0 0 28px;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__hashtag {
    margin: 0;
  }
}
.footer__hashtag p {
  margin: 0;
}
.social {
  width: 154px;
  margin: 0 auto 27px;
}
@media (min-width: 768px) {
  .social {
    margin: 0;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.social__item {
  position: relative;
  background-color: #81b3d2;
}
.social__link {
  display: block;
  width: 46px;
  height: 48px;
}
.social__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--vkontakte::before {
  background-image: url("../img/svg/vk-icon.svg");
  background-size: 18px 16px;
}
.social__link--telegram::before {
  background-image: url("../img/svg/telegram-icon.svg");
  background-size: 18px 16px;
}
.social__link--youtube::before {
  background-image: url("../img/svg/youtube-icon.svg");
  background-size: 18px 16px;
}
.copyright {
  width: 130px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .copyright {
    margin: 0;
  }
}
.copyright__text {
  font-weight: 400;
}
.copyright-logo {
  margin-left: 12px;
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.site-list a {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #5596be;
  border-top: 1px solid #9ac2db;
}
.site-list a:hover {
  color: #81b3d2;
}
.site-list a:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .site-list a {
    color: #000000;
    border: 0;
  }
}
.site-list__item {
  text-align: center;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .site-list__item {
    background-color: #ffffff;
    margin-right: 74px;
  }
  .site-list__item:nth-child(1) {
    margin-left: 48px;
  }
  .site-list__item:nth-child(2) {
    margin-right: auto;
  }
  .site-list__item:nth-child(3) {
    margin-left: auto;
    margin-right: 0;
  }
  .site-list__item:nth-child(4) {
    margin-left: auto;
    margin-right: 29px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .site-list__item {
    margin-right: 163px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .site-list__item:nth-child(1) {
    margin-left: 91px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .site-list__item:nth-child(3) {
    margin-right: 12px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .site-list__item:nth-child(4) {
    margin-right: 71px;
  }
}
@media (min-width: 768px) {
  .site-list__item--current a {
    color: #766357;
  }
}
.site-list__item:hover {
  background-color: #669ec0;
}
@media (min-width: 768px) {
  .site-list__item:hover {
    background-color: transparent;
  }
}
.site-list__item:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .site-list__item:active {
    background-color: transparent;
  }
}
.button {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 21px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
}
.button:hover,
.button:focus {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.catalog-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  min-width: 320px;
  height: 159px;
  color: #000000;
  background-color: #3287d1;
  background-image: url("../img/svg/intro-triangle.svg"), url("../img/catalog-background-mobile.jpg");
  background-size: 200%, cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .catalog-welcome {
    background-image: url("../img/svg/intro-triangle.svg"), url("../img/catalog-background-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .catalog-welcome {
    height: 290px;
    margin-bottom: 0;
    background-image: url("../img/svg/intro-triangle.svg"), url("../img/catalog-background-tablet@1x.jpg");
    background-size: 156% auto, cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .catalog-welcome {
    background-image: url("../img/svg/intro-triangle.svg"), url("../img/catalog-background-tablet@2x.jpg");
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .catalog-welcome {
    height: 300px;
    background-image: url("../img/svg/intro-triangle.svg"), url("../img/catalog-background-desktop@1x.jpg");
    background-size: 100% auto, cover;
  }
}
@media (min-width: 768px) and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .catalog-welcome {
    background-image: url("../img/svg/intro-triangle.svg"), url("../img/catalog-background-desktop@2x.jpg");
  }
}
.catalog-welcome__wrapper {
  text-align: center;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .catalog-welcome__wrapper {
    padding-top: 77px;
    padding-bottom: 99px;
  }
}
@media (min-width: 1280px) {
  .catalog-welcome__wrapper {
    padding-top: 72px;
    padding-bottom: 90px;
  }
}
.catalog-welcome__image {
  width: 229px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog-welcome__image {
    width: 457px;
    height: 78px;
  }
}
.catalog__intro {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px 36px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .catalog__intro {
    padding: 57px 155px 81px;
  }
}
@media (min-width: 1280px) {
  .catalog__intro {
    padding: 90px 370px 88px;
  }
}
.catalog__title {
  margin: 0 auto 25px;
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 768px) {
  .catalog__title {
    margin-bottom: 22px;
    width: 458px;
    font-size: 30px;
  }
}
.catalog__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
}
.catalog__description br {
  display: none;
}
@media (min-width: 768px) {
  .catalog__description br {
    display: initial;
  }
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog__list {
    width: 648px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .catalog__list {
    width: 1200px;
  }
}
.catalog__item {
  width: 280px;
  margin: 0 auto;
  padding: 25px 0 10px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .catalog__item {
    width: 324px;
    margin: 0;
    padding: 0;
    border-bottom: none;
  }
}
@media (min-width: 1280px) {
  .catalog__item {
    position: relative;
    width: 400px;
  }
}
@media (min-width: 768px) {
  .catalog__item:first-child {
    width: 648px;
  }
}
@media (min-width: 1280px) {
  .catalog__item:first-child {
    width: 1200px;
  }
  .catalog__item:first-child .catalog__info {
    min-width: 1160px;
  }
}
.catalog__link {
  display: block;
}
.catalog__link:focus-visible {
  outline: 2px solid #81b3d2;
  outline-offset: -2px;
}
@media (min-width: 768px) {
  .catalog__link {
    min-width: 324px;
    height: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .catalog__link--firtsphoto {
    min-width: 648px;
    height: 400px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .catalog__link--firtsphoto {
    min-width: 1200px;
    height: 400px;
  }
}
.catalog__photo {
  display: block;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .catalog__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .catalog__photo--firstphoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.catalog__info {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__info {
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 20px 11px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1280px) {
  .catalog__info {
    position: absolute;
    bottom: 0;
    top: 187px;
    width: 360px;
    padding: 18px 25px 11px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 768px) {
  .catalog__info--firstphoto {
    padding: 0 20px 10px;
    top: 320px;
  }
}
@media (min-width: 1280px) {
  .catalog__info--firstphoto {
    padding: 0 20px 0;
  }
}
.catalog__favorite-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.catalog__text {
  padding-bottom: 3px;
}
@media (min-width: 1280px) {
  .catalog__text {
    color: #ffffff;
  }
}
.catalog__name {
  margin: 15px 0 0;
  font-weight: 700;
}
@media (min-width: 768px) {
  .catalog__name {
    margin: 2px 0 0;
  }
}
@media (min-width: 1280px) {
  .catalog__name {
    margin: 0 0 4px;
  }
}
.catalog__name br {
  display: none;
}
@media (min-width: 768px) {
  .catalog__name br {
    display: initial;
  }
}
@media (min-width: 1280px) {
  .catalog__name br {
    display: none;
  }
}
@media (min-width: 1280px) {
  .catalog__info--firstphoto .catalog__name {
    margin: 22px 0 0;
  }
}
.catalog__author {
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-transform: none;
}
.catalog__favorite {
  width: 38px;
  height: 44px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  background-image: url("../img/svg/like-icon.svg");
  background-repeat: no-repeat;
  background-position: center left;
}
@media (min-width: 768px) {
  .catalog__favorite {
    margin: -10px -5px 0 0;
  }
}
@media (min-width: 1280px) {
  .catalog__favorite {
    background-image: url("../img/svg/like-icon-desktop.svg");
    padding: 0;
  }
}
@media (min-width: 768px) {
  .catalog__favorite--firstphoto {
    margin: 4px -6px 0 0;
  }
}
@media (min-width: 1280px) {
  .catalog__favorite--firstphoto {
    margin: 0 -6px 0 0;
  }
}
.catalog__like {
  font-weight: 700;
}
@media (min-width: 768px) {
  .catalog__like {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .catalog__like {
    padding: 0 5px 0 0;
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .catalog__like--firstphoto {
    margin: 0;
    padding: 16px 0 0 0;
  }
}
@media (min-width: 1280px) {
  .catalog__like--firstphoto {
    padding: 0;
  }
}
.catalog__video {
  width: 100%;
  padding: 16px 20px 29px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .catalog__video {
    padding: 55px 60px 40px;
  }
}
@media (min-width: 1280px) {
  .catalog__video {
    padding: 0 200px 86px;
  }
}
.catalog__video-play {
  position: relative;
}
@media (min-width: 768px) {
  .catalog__video-play {
    min-width: 648px;
    min-height: 500px;
  }
}
@media (min-width: 1280px) {
  .catalog__video-play {
    min-width: 800px;
    min-height: 500px;
  }
}
.catalog__video-intro {
  margin: 0 auto;
  width: 260px;
}
@media (min-width: 768px) {
  .catalog__video-intro {
    width: 445px;
    padding: 2px 100px 51px;
  }
}
@media (min-width: 1280px) {
  .catalog__video-intro {
    padding: 60px 100px 48px;
  }
}
.catalog__video-title {
  margin: 0 auto 27px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__video-title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}
.catalog__video-description {
  margin: 0 0 38px;
  padding: 0;
  display: block;
  font-weight: 400;
  text-align: center;
}
.catalog__video__button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 54px;
  border: none;
  background-image: url("../img/play-video-icon.png");
  background-repeat: no-repeat;
  background-size: 48px 54px;
  background-position: center center;
  background-color: transparent;
}
.catalog-video__picture {
  display: block;
}
@media (min-width: 768px) {
  .catalog-video__picture {
    width: 648px;
    height: 500px;
    object-fit: cover;
  }
}
@media (min-width: 1280px) {
  .catalog-video__picture {
    width: 800px;
  }
}
.form-intro {
  padding: 0 20px 26px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}
@media (min-width: 768px) {
  .form-intro {
    padding: 64px 166px 108px;
    border-bottom: none;
  }
}
@media (min-width: 1280px) {
  .form-intro {
    padding: 115px 382px 63px;
  }
}
.form-intro__title {
  margin: 0 0 24px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 768px) {
  .form-intro__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .form-intro__title {
    margin-bottom: 31px;
  }
}
.form-intro__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
@media (min-width: 768px) {
  .form-intro__description {
    line-height: 21px;
  }
}
@media (min-width: 1280px) {
  .form-intro__description {
    line-height: 23px;
  }
}
.form-review {
  padding: 0 20px 56px;
}
@media (min-width: 768px) {
  .form-review {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px 63px;
  }
}
@media (min-width: 1280px) {
  .form-review {
    padding: 0 120px 0;
  }
}
.form-review__group {
  position: relative;
  margin: 0;
  padding: 0 0 40px;
  border: none;
}
.form-review__group:not(:first-child) {
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .form-review__group:nth-child(4) {
    padding-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .form-review__group:nth-child(4) {
    padding-bottom: 60px;
  }
}
.form-review__group::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .form-review__group::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .form-review__group:first-child {
    margin: 0 29px 46px 0;
    padding: 0 28px 13px 0;
    border-right: 1px solid #dbdbdb;
  }
}
@media (min-width: 1280px) {
  .form-review__group:first-child {
    margin: 0 45px 53px 0;
    padding: 0 50px 13px 0;
  }
}
.form-review__input {
  width: 248px;
  padding: 16px 16px 16px 16px;
  background-color: #EEEEEE;
  border: none;
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form-review__input {
    width: 263px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1280px) {
  .form-review__input {
    width: 398px;
  }
}
.form-review__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.form-review__input:hover {
  background-color: #e5e5e5;
}
.form-review__input:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}
@media (min-width: 1280px) {
  .form-review__input--phone {
    width: 402px;
  }
}
.form-review__input--phone::placeholder {
  font-weight: 700;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.form-review__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 1;
}
.form-review__textarea {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.feedback__textarea {
  background-color: #EEEEEE;
}
.form-review__post {
  text-align: right;
}
@media (min-width: 768px) {
  .form-review__post {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .form-review__post {
    width: 768px;
    margin-left: 96px;
    margin-bottom: 61px;
  }
}
@media (min-width: 768px) {
  .fieldset {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .fieldset:first-child .fieldset__title {
    padding-left: 0;
  }
}
.fieldset__title {
  margin: 0;
  padding: 24px 0 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 768px) {
  .fieldset__title {
    font-size: 21px;
    padding-top: 0;
  }
}
.fieldset__list {
  margin: 0;
  list-style: none;
  padding: 21px 0 0;
}
@media (min-width: 768px) {
  .fieldset__list {
    padding-top: 23px;
  }
}
.fieldset__item:not(:last-child) {
  margin-bottom: 18px;
}
.fieldset__item:first-child {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .fieldset__item:first-child {
    margin-bottom: 13px;
  }
}
@media (min-width: 1280px) {
  .fieldset__item:first-child {
    margin-bottom: 15px;
  }
}
.fieldset__phone {
  position: relative;
}
.fieldset__phone::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #e6e6e6;
}
.fieldset__email {
  position: relative;
}
.fieldset__email::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #e6e6e6;
}
.fieldset__label {
  font-weight: 400;
  margin-left: 16px;
  cursor: pointer;
}
.fieldset--impression {
  padding-bottom: 38px;
}
@media (min-width: 768px) {
  .fieldset--impression {
    width: 968px;
    position: relative;
    z-index: 1;
  }
}
.fieldset--phone .fieldset__item:first-child {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .fieldset--phone .fieldset__item:first-child {
    margin-bottom: 15px;
  }
}
.fieldset__title--radio {
  margin-bottom: 22px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .fieldset__title--radio {
    background-color: #ffffff;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 35px;
    padding: 0 65px 0;
  }
}
@media (min-width: 1280px) {
  .fieldset__title--radio {
    padding: 0 56px 0 47px;
    margin-bottom: 52px;
  }
}
@media (min-width: 768px) {
  .fieldset__title--radio::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    left: 50%;
    transform: translateX(-50%);
    top: 13px;
    z-index: -1;
  }
}
.fieldset__list--impression {
  padding-top: 8px;
}
@media (min-width: 768px) {
  .fieldset__list--impression {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    padding: 0 36px 0;
  }
}
@media (min-width: 1280px) {
  .fieldset__list--impression {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 61px;
    padding: 0 53px 0;
  }
}
@media (min-width: 768px) {
  .fieldset__list--showplace {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 38px 80px 0 84px;
    column-gap: 30px;
  }
}
@media (min-width: 1280px) {
  .fieldset__list--showplace {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
    padding: 23px 21px 0 13px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .fieldset__item--radio {
    width: 247px;
  }
}
.fieldset__item--radio:not(:last-child) {
  margin-bottom: 34px;
}
@media (min-width: 1280px) {
  .fieldset__item--checkbox {
    min-width: 217px;
  }
}
.fieldset__item--checkbox:not(:last-child) {
  margin-bottom: 36px;
}
@media (min-width: 1280px) {
  .fieldset__item--checkbox:not(:last-child) {
    margin-bottom: 40px;
  }
}
.fieldset__title--checkbox {
  line-height: 27px;
  padding-top: 23px;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .fieldset__title--checkbox {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 23px 63px 0;
    background-color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .fieldset__title--checkbox {
    padding: 11px 63px 0;
    margin-bottom: 47px;
  }
}
@media (min-width: 768px) {
  .fieldset__title--checkbox::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    z-index: -1;
  }
}
@media (min-width: 1280px) {
  .fieldset__title--checkbox::before {
    top: 38px;
  }
}
.radio {
  margin-left: 0;
}
.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio__input + label {
  display: inline-flex;
  align-items: center;
}
.radio__text {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  cursor: pointer;
  padding-left: 62px;
}
.radio__text::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  min-width: 46px;
  min-height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center center;
}
.radio__text:hover::before {
  background-color: #e5e5e5;
}
.radio__text:active::before {
  background-color: #d5d5d5;
}
.radio__input:focus + .radio__text::before {
  background-color: #d5d5d5;
}
.radio__text::after {
  content: "";
  top: 3px;
  left: 15px;
  position: absolute;
  min-width: 16px;
  min-height: 16px;
  border-radius: 50%;
  background-color: #333333;
  opacity: 0;
}
.radio__text:active::after {
  opacity: 30%;
}
.radio__input:checked + .radio__text::after {
  opacity: 1;
}
.checkbox {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  margin-left: 0;
}
.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox__input + label {
  display: inline-flex;
  align-items: center;
}
.checkbox__text {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  cursor: pointer;
  padding-left: 62px;
}
.checkbox__text::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  min-width: 46px;
  min-height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  background-position: center center;
}
@media (min-width: 768px) {
  .checkbox__text::before {
    left: 0;
  }
}
.checkbox__text:hover::before {
  background-color: #e5e5e5;
}
.checkbox__text:active::before {
  background-color: #d5d5d5;
}
.checkbox__input:focus + .checkbox__text::before {
  background-color: #d5d5d5;
}
.checkbox__text::after {
  content: "";
  top: 3px;
  left: 11px;
  position: absolute;
  width: 22px;
  height: 16px;
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  opacity: 0;
}
@media (min-width: 1280px) {
  .checkbox__text::after {
    left: 14px;
  }
}
.checkbox__text:active::after {
  opacity: 30%;
}
.checkbox__input:checked + .checkbox__text:active::after {
  opacity: 30%;
}
.checkbox__input:checked + .checkbox__text::after {
  opacity: 1;
}
.comment__attention {
  margin: 0;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
}
@media (min-width: 768px) {
  .comment__attention {
    font-size: 14px;
    padding-top: 26px;
  }
}
@media (min-width: 1280px) {
  .comment__attention {
    padding-top: 24px;
  }
}
.comment__button {
  width: 100%;
  text-transform: uppercase;
  padding: 18px;
}
@media (min-width: 768px) {
  .comment__button {
    width: 324px;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .comment__button {
    width: 384px;
  }
}
.feedback {
  margin: 38px 0 50px;
}
@media (min-width: 768px) {
  .feedback {
    margin: 10px 0 44px;
  }
}
.feedback__title {
  margin: 0 0 35px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .feedback__title {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 21px;
    margin-bottom: 43px;
  }
}
.feedback__textarea {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  font-family: inherit;
  border: none;
  resize: none;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .feedback__textarea {
    min-height: 160px;
  }
}
@media (min-width: 1280px) {
  .feedback__textarea {
    width: 768px;
    min-height: 160px;
    margin-left: 96px;
  }
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.modal-container--close {
  display: none;
}
.modal-container--close2 {
  display: none;
}
.modal-container__warning {
  background-color: #ffffff;
  padding: 45px 42px 35px;
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  .modal-container__warning {
    padding: 50px 47px 49px 46px;
    width: 308px;
  }
}
.modal-container__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .modal-container__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0 47px;
    margin-bottom: 23px;
  }
}
.modal-container__title br {
  display: none;
}
@media (min-width: 768px) {
  .modal-container__title br {
    display: initial;
  }
}
.modal-container__description {
  padding: 0 47px 0;
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
}
@media (min-width: 768px) {
  .modal-container__description {
    margin-bottom: 46px;
  }
}
.modal-container__button {
  min-width: 180px;
  margin: 0 auto;
  font-size: 18px;
  padding: 18px;
}
@media (min-width: 768px) {
  .modal-container__button {
    width: 272px;
    padding: 16px 20px;
  }
}
.modal-container__succses {
  margin: 0 auto;
  padding: 39px 42px 30px 41px;
  text-align: center;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .modal-container__succses {
    padding: 53px 99px 30px 97px;
  }
}
.modal-container__wrapper {
  padding: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .modal-container__wrapper {
    width: 614px;
    padding: 46px 0 44px;
    margin: 0 auto;
  }
}
.modal-container__button--succses {
  width: 280px;
  padding: 16px 20px;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal-container__button--succses {
    width: 458px;
    padding: 16px 20px;
    font-size: 21px;
  }
}
.modal__description {
  padding: 0;
  margin-bottom: 22px;
}
/*# sourceMappingURL=style.css.map */
